* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  font-family: 'Poppins', sans-serif; 
  background-color:  hsl(0, 0%, 98%);
  width: 100%;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Header start */

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-text h1:first-child {
  font-weight: normal;
  color: grey;
}

.header-text h1:nth-child(2){
  font-size: 33px;  
}

.header-text p {
  width: 550px;
  color: grey;
  margin-top: 10px;
}

@media  (max-width: 375px) {
    .header-text {
        width: 340px;
        margin: 50px auto;
    }

    .header-text h1:first-child {
        font-size: 25px;
    }
    
    .header-text h1:nth-child(2) {
        font-size: 26px;
    }

    .header-text p { 
        width: 340px;
    }
}
/* Header end */


/* Boxs start */

/* team builder top color */
.topColor1 { 
    width: 100%;
    height: 5px;
    background-color: hsl(0, 78%, 62%);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
} 

/* Calculator top color */
.topColor2 {
    width: 100%;
    height: 5px;
    background-color: hsl(212, 86%, 64%);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
} 

 /* supervisor top color */
.topColor3 {
    width: 100%;
    height: 5px;
    background-color: hsl(180, 62%, 55%);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
} 

/* karma top color */
.topColor4 {
    width: 100%;
    height: 5px;
    background-color: hsl(34, 97%, 64%);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
} 

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3 , 370px);
    grid-template-rows: repeat(25 , 22px);
    grid-column-gap: 30px;
}

.Team {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 13;
}

.Calculator {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-column-start: 3;
    grid-row-start: 8;
    grid-row-end: 20;
}

.Supervisor { 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-row-start: 8;
    grid-row-end: 20;
}

.Karma { 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-column-start: 2;
    grid-row-start: 14;
    grid-row-end: 26;
}

.informatioin { 
    width: 100%;
    height: 100%;
    padding: 25px;
    position: relative;
}


.informatioin h3 {
   color: hsl(234, 12%, 34%);
}

.informatioin p { 
    font-size: 15px;
    color: hsl(229, 6%, 66%);
    margin-top: 10px;
}

.image { 
   position: absolute;
   right: 25px;
   bottom: 25px;
}

/* for netbook */

@media (max-height: 667px) {
    .grid-container {
        grid-template-rows: repeat(24 , 20px);
    }

    .Team {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 13;
    }
.Calculator {
        grid-row-start: 8;
        grid-row-end: 19;
    }

    .Supervisor { 
        grid-row-start: 8;
        grid-row-end: 19;
    }

    .Karma { 
        grid-column-start: 2;
        grid-row-start: 14;
        grid-row-end: 25;
    }
}

/* for mobile */

@media (max-width: 375px) { 
    .App { 
        overflow: visible;
        height: 100%;
    }

    .grid-container {
        grid-template-columns: 320px;
        grid-template-rows: repeat(55 , 22px);
        grid-column-gap: 30px;
        margin-top: 0px;
    }

    .Team {
        grid-column-start: 1;
        grid-row-start: 15;
        grid-row-end: 27;
    }

    .Calculator {
        grid-column-start: 1;
        grid-row-start: 41;
        grid-row-end: 53;
    }

    .Supervisor { 
        grid-row-start: 2;
        grid-row-end: 14;
    }

    .Karma { 
        grid-column-start: 1;
        grid-row-start: 28;
        grid-row-end: 40;
    }
}




